# Sunucu IP adresi (0.0.0.0 yerel ağdaki tüm cihazlardan erişime izin verir)
HOST=0.0.0.0
# Sunucu Portu
PORT=8000
# Ortam: 'development' (kod değiştikçe yenilenir) veya 'production' (canlı sunucu, performans için)
ENV=production
